.Card {
  width: 70%;
  height: 50%;
  border: 1px solid #ccc;
  box-shadow: 0 4px 5px #ccc;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.Link {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

.Link:hover,
.Link:active {
  color: rgb(25, 226, 58);
  cursor: pointer;
}

.score {
  position: absolute;
  font-size: 2rem;
  width: 150px;
}

@media screen and (max-width: 600px) {
  .score {
    margin-right: 25px;
    font-size: 1.2rem;
    left: -50px;
    width: 90px;
  }

  .Card {
    width: 90%;
  }
}
