.App {
  text-align: center;
}

.Card {
  position: relative;
  height: 200px;
  width: 200px;
}

.Link {
  text-decoration: none;
  color: white;
}

.Link:hover,
.Link:active {
  color: rgb(240, 255, 23);
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .card {
    height: 150px;
    width: 150px;
  }
}
